#nav {
  font-size:34;
  width: 100%;
  height:40px;
  text-align:center;
  color:white;
	background-color: #261a0d;
  overflow-x:hidden;
  overflow-y:hidden;
}

body {
  background-color:#804d00;
  overflow-x:hidden;
  overflow-y:hidden;
}

#sgf-background{
  position:absolute;
  width:589;
  height:637;
  z-index:10;
  top:50%;
  left:50%;
  margin: -295px 0 0 -318px;
  background-image: url('../go-board-bg.png');
  background-size:contain;
}

#sgf-manager {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 15;
  top: 50%;
  margin: -50px 0 0 0;
  background-color:#804d00;
}

img {
   visibility: hidden;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 200px;
   height: 200px;
   margin-top: -100px; /* Half the height */
   margin-left: -100px; /* Half the width */
   z-index:100;
}
